<nav class="navbar navbar-expand-sm navbar-custom otherPage fixed-top" aria-label="Navbar Menu">
    <div class="container">
        <a class="navbar-brand nav-custom otherPage" aria-current="page" href="/">
            <i class="far fa-list-alt"></i>
            CertificaUTF
        </a>

        <button class="navbar-toggler nav-custom otherPage" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link nav-custom otherPage" href="/recomend">Recomendações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-custom otherPage" href="/docs">Documentações</a>
                </li>
            </ul>
            
            <ul class="navbar-nav md-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link nav-custom otherPage" href="/about">Sobre</a>
                </li>

                <li class="ms-sm-2 ms-0 nav-item d-flex align-items-center">
                    <a href="/signIn"><button class="btn btn-sm btn-light otherPage" id="buttonSystem">Sistema</button></a>
                </li>

            </ul>
        </div>
    </div>
</nav>