
{{#if logged }}
    {{> navbarOtherLog }}
{{else}}
    {{> navbarOtherNot }}
{{/if}}

<div class="mastdiv">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center text-center">
            <div class="col-12 div-margin">
                <h1 class="fsc-2 mb-3">Documentações</h1>

                <section id="divInfo" class="">
                    <div class="container-fluid p-0">
                        <div class="row justify-content-center text-center">

                            <div class="col-11 col-sm-9">
                                <div id="infoAll" class="row justify-content-center text-center">
                                    <div class="col-6 col-md-4 col-lg-2 my-3">
                                        <a role="button" class="info-box mx-auto" data-bs-toggle="modal" data-bs-target="#modal">
                                            <img class="img-fluid info-border" src="./assets/images/courses/UTF.png">
                                            <div class="info-caption info-border">
                                                <div class="info-nCert">Regulamento</div>
                                                <div class="info-nCert">Geral</div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-6 col-md-4 col-lg-2 my-3">
                                        <a role="button" class="info-box mx-auto" data-bs-toggle="modal" data-bs-target="#modal">
                                            <img class="img-fluid info-border" src="./assets/images/courses/ECP.png">
                                            <div class="info-caption info-border">
                                                <div class="info-nCert">Engenharia</div>
                                                <div class="info-nCert">de Computação</div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-6 col-md-4 col-lg-2 my-3">
                                        <a role="button" class="info-box mx-auto" data-bs-toggle="modal" data-bs-target="#modal">
                                            <img class="img-fluid info-border" src="./assets/images/courses/ESW.png">
                                            <div class="info-caption info-border">
                                                <div class="info-nCert">Engenharia</div>
                                                <div class="info-nCert">de Sofware</div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-6 col-md-4 col-lg-2 my-3">
                                        <a role="button" class="info-box mx-auto" data-bs-toggle="modal" data-bs-target="#modal">
                                            <img class="img-fluid info-border" src="./assets/images/courses/ADS.png">
                                            <div class="info-caption info-border">
                                                <div class="info-nCert">Análise e Des.</div>
                                                <div class="info-nCert">de Sistemas</div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-6 col-md-4 col-lg-2 my-3">
                                        <a role="button" class="info-box mx-auto" data-bs-toggle="modal" data-bs-target="#modal">
                                            <img class="img-fluid info-border" src="./assets/images/courses/ELE.png">
                                            <div class="info-caption info-border">
                                                <div class="info-nCert">Engenharia</div>
                                                <div class="info-nCert">Elétrica</div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="w-100"></div>

                                    <div class="col-6 col-md-4 col-lg-2 my-3">
                                        <a role="button" class="info-box mx-auto" data-bs-toggle="modal" data-bs-target="#modal">
                                            <img class="img-fluid info-border" src="./assets/images/courses/ELT.png">
                                            <div class="info-caption info-border">
                                                <div class="info-nCert">Engenharia</div>
                                                <div class="info-nCert">Eletrônica</div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-6 col-md-4 col-lg-2 my-3">
                                        <a role="button" class="info-box mx-auto" data-bs-toggle="modal" data-bs-target="#modal">
                                            <img class="img-fluid info-border" src="./assets/images/courses/ECA.png">
                                            <div class="info-caption info-border">
                                                <div class="info-nCert">Engenharia</div>
                                                <div class="info-nCert">de Contr. Aut.</div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-6 col-md-4 col-lg-2 my-3">
                                        <a role="button" class="info-box mx-auto" data-bs-toggle="modal" data-bs-target="#modal">
                                            <img class="img-fluid info-border" src="./assets/images/courses/EMC.png">
                                            <div class="info-caption info-border">
                                                <div class="info-nCert">Engenharia</div>
                                                <div class="info-nCert">Mecânica</div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-6 col-md-4 col-lg-2 my-3">
                                        <a role="button" class="info-box mx-auto" data-bs-toggle="modal" data-bs-target="#modal">
                                            <img class="img-fluid info-border" src="./assets/images/courses/LMT.png">
                                            <div class="info-caption info-border">
                                                <div class="info-nCert">Licenciatua</div>
                                                <div class="info-nCert">em Matemática</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>