{{> navbarOtherNot }}

<div class="mastdiv">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center text-center">
            <div class="col-12 div-margin">
                <h1 class="fsc-2 mb-3">Redefinir senha</h1>

                <div class="row justify-content-center text-center">
                    <div class="col-10 col-sm-6 col-md-5 col-lg-4 justify-content-center box-custom">
                        <form class="my-4 text-black">

                            <span id="spanEmailHash" class="d-none">{{emailHash}}</span>

                            <div class="form-floating mb-3">
                                <input type="email" class="form-control form-control-sm" id="floatingInputEmail" placeholder="email" value="{{email}}" disabled readonly>
                                <label id="labelEmail" for="floatingInputEmail">E-mail</label>
                            </div>
    
                            <div class="row mb-3">
                                <div class="col-10 pe-0">
                                    <div class="form-floating">
                                        <input type="password" class="form-control form-control-sm" id="floatingInputPassword1" placeholder="senha" onkeyup="textIsValid('Password1', this.value)">
                                        <label id="labelPassword1" for="floatingInputPassword1">Nova senha</label>
                                    </div>
                                </div>
    
                                <div class="col-2 ps-0">
                                    <button class="btn btn-dark w-100 h-100 eye-border" type="button" id="buttonEye1">
                                        <i id="iconEye1" class="fas fa-eye-slash"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-10 pe-0">
                                    <div class="form-floating">
                                        <input type="password" class="form-control form-control-sm" id="floatingInputPassword2" placeholder="senha" onkeyup="textIsValid('Password2', this.value)">
                                        <label id="labelPassword2" for="floatingInputPassword2">Digite novamente</label>
                                    </div>
                                </div>
    
                                <div class="col-2 ps-0">
                                    <button class="btn btn-dark w-100 h-100 eye-border" type="button" id="buttonEye2">
                                        <i id="iconEye2" class="fas fa-eye-slash"></i>
                                    </button>
                                </div>
                            </div>

                            <button onclick="submitButton()" type="button" class="btn btn-dark w-100">Salvar</button>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSuccessReset" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Senha redefinida com sucesso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <label class="form-label">Sua senha foi redefinida com sucesso</label><br>
                <label class="form-label">Você já pode entrar na sua conta</label><br>
            </div>
            <div class="modal-footer">
                <a href="/signIn"><button type="button" class="btn btn-success">Página de Login</button></a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalFailReset" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Problemas ao redefinir senha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <label class="form-label">Houveram alguns problemas na redefinição da senha</label><br>
                <label class="form-label">Verifique os dados e tente mais tarde</label><br>
                <label class="form-label">Caso os problemas persistam, entre em contato com o <a href="/about">suporte</a></label><br>
            </div>
            <div class="modal-footer">
                <a href="/"><button type="button" class="btn btn-danger">Página inicial</button></a>
            </div>
        </div>
    </div>
</div>

<script src="/js/ext/jquerry.js"></script>
<script src="/js/resetPassword.js"></script>