<html lang='pt-br'>
	<head>
		<meta charset='utf-8' />
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1, shrink-to-fit=no'
		/>
		<meta
			name='description'
			content='Trabalho de Conclusão do Curso (TCC) para o curso de Engenharia de Computação na Universidade Tecnológica Federal do Paraná (UTFPR) câmpus Cornélio Procópio (CP).'
		/>
		<meta name='author' content='Lucas do Prado Pinto' />

		<title>CertificaUTF</title>

		<!-- Favicon-->
		<link
			rel='icon'
			type='image/x-icon'
			href='/assets/images/logo/logo.png'
		/>

		<!-- Font Awesome icons (free version)-->
		<script src='/js/ext/fontAwesome.min.js'></script>

		<!-- Core theme CSS (includes Bootstrap)-->
		<link href='/css/bootstrap.min.css' rel='stylesheet' />
		<link href='/css/styles.min.css' rel='stylesheet' />
	</head>

	<body>
		{{{body}}}

		<!-- jQuerry
        <script src="/js/jquery-3.6.0.min.js"></script>-->

		<!-- Bootstrap core JS-->
		<script src='/js/ext/bootstrap.bundle.min.js'></script>

		<!-- Core JS-->
		<script src='/js/scripts.js'></script>
	</body>
</html>